// Ground-zero
hairline ?= 1px
gap ?= 1rem
base-radius ?= .125rem
base-animation-time ?= .25s

// Font
base-font-size ?= 16px

// Border
base-border-width ?= hairline

// Button
button-vertical-padding ?= .625rem
button-horizontal-padding ?= 1.5rem
button-padding-step ?= .25rem
