/**
* Colors
*/
colors = {
  white: #fff,
  prime-blue: #0c3dd7,
  light-blue: #54a0ff,
  red: #ee5253,
  green: #1dd1a1,
  yellow: #feca57,
  steel-grey-light: #f5f5f5,
  steel-grey-mid: #d6d6d6,
  dark-grey: #1e1e1e,
  grey: #4A4A4A,
  prime-steel: #222f3e
}

/**
* Body
*/
body-background-color ?= colors.white
body-color ?= colors.dark-grey

/**
* Exports (use only those variables outside)
*/
// Common colors
common-color ?= colors.steel-grey-light
primary-color ?= colors.prime-blue
secondary-color ?= colors.prime-steel
base-border-color ?= colors.steel-grey-mid
text-color ?= colors.grey
white-color ?= colors.white

// State colors
safe-color ?= colors.green
warning-color ?= colors.yellow
danger-color ?= colors.red
