/**
* Colors
*/
colors = {
  white: #fff,
  prime-blue: #2e86de,
  light-blue: #54a0ff,
  red: #ee5253,
  green: #1dd1a1,
  yellow: #feca57,
  steel-grey-light: #D6DBE6,
  dark-grey: #1e1e1e,
  prime-steel: #222f3e
}

/**
* Body
*/
body-background-color ?= colors.white
body-color ?= colors.dark-grey
primary-color ?= colors.prime-blue
secondary-color ?= colors.prime-steel
base-border-color ?= colors.steel-grey-light
