/**
 * Fonts hierarchy
 */
primary-font-family ?= 'Lato'
secondary-font-family ?= 'Raleway'

/**
* Font
*/
body-family ?= primary-font-family, BlinkMacSystemFont, '-apple-system', 'Segoe UI', 'Roboto', sans-serif

/**
* Weights
*/
font-weight-bold ?= bold
font-weight-normal ?= normal
