/**
 * Base
 */
html
  background-color body-background-color
  overflow-x hidden
  overflow-y scroll
  text-rendering optimizeLegibility
  text-size-adjust 100%

body,
button,
input,
select,
textarea
  font-family body-family

body
  font-size 1rem
  color body-color

a
  color primary-color
  cursor pointer
  text-decoration none

img
  height auto
  max-width 100%
