button
  set-border-with-radius()
  display inline-flex
  cursor pointer
  background-color common-color
  color text-color
  padding button-vertical-padding button-horizontal-padding
  font-size 1rem
  font-weight 700
  margin-bottom .5rem
