button
  set-border-with-radius()
  display inline-flex
  cursor pointer
  background-color secondary-color
  color white-color
  padding button-vertical-padding button-horizontal-padding
  font-size 1rem
