button
  set-border-with-radius()
  display inline-flex
  cursor pointer
  background-color common-color
  color text-color
  padding button-vertical-padding button-horizontal-padding
  font-size 1rem
  margin-bottom .5rem
  transition-property box-shadow, transform
  transition-duration base-animation-duration
  transition-timing-function ease-out

  &:focus
    outline none
