/**
 * Ether ITCSS
 *
 * 1. Settings................Global variables, config switches.
 * 2. Tools...................Default mixins and functions.
 * 3. Generic.................Ground-zero styles (resets, box-sizing).
 * 4. Elements................Unclassed HTML elements (type selectors).
 * 5. Objects.................Cosmetic-free design patterns.
 * 6. Components..............Designed components, chunks of UI.
 * 7. Utilities...............Helpers and overrides.
 *
 */

/**
 * 1. Settings
 */
@import './stylus/settings/variables/base-measures.styl'
@import './stylus/settings/variables/responsiveness.styl'
@import './stylus/settings/variables/fonts.styl'
@import './stylus/settings/variables/colors.styl'

/**
 * 2. Tools
 */
@import './stylus/tools/mixins/bem.styl'
@import './stylus/tools/mixins/borders.styl'
@import './stylus/tools/mixins/appearence.styl'

/**
 * 3. Generic
 */
@import './stylus/generic/minireset.styl'
@import './stylus/generic/base.styl'

/**
 * 4. Elements
 */
@import './stylus/elements/typography/headers.styl'
@import './stylus/elements/typography/paragraph.styl'
@import './stylus/elements/buttons.styl'
@import './stylus/elements/form.styl'

/**
 * 5. Objects
 */
@import './stylus/objects/container.styl'

  /**
 * 5. Components
 */
@import './stylus/components/typography/headers.styl'
@import './stylus/components/typography/paragraph.styl'
@import './stylus/components/buttons.styl'
@import './stylus/components/form.styl'

/**
 * Vendors
 */
@import './stylus/vendors/fonts.styl'
